@import "tailwindcss";
/* Class để ẩn scrollbar */
.hide-scrollbar {
    overflow: hidden;
  }
  .scroll-vertical {
    animation: scrollVertical 80s linear infinite;
  }
  
  @keyframes scrollVertical {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  
  /* Ẩn scrollbar cho mọi trình duyệt */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
  /* Chặn bôi đen, copy text */
body {
  user-select: none;       /* Không cho chọn text */
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Chặn kéo ảnh */
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  pointer-events: none; /* Ngăn kéo thả ảnh */
}
